<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #center {
            margin: auto;
            width: 1136px;
            padding: 10px;
        }
    </style>
</head>
<body>
<header
        th:insert="header :: header">
</header>
<br>
<div class="card text-white bg-dark mb-3" id="center">
    <h1>Edit post</h1>
    <form th:each="el :${post}" th:action="'/course/'+${courseId}+'/post/'+${postId}+'/edit'" method="post" >
        <input type="text" th:value="${el.title}" name="title" placeholder="Enter title" class="form-control"><br>
        <input type="text"  th:value="${el.announce}" name="announce" placeholder="Enter announce" class="form-control"><br>
        <textarea name="post" placeholder="Enter post text" class="form-control" th:text="${el.post}"></textarea><br>
        <hr class="my-4">
        <p class="lead">
            <button class="btn btn-secondary" type="submit" >Edit</button>
        </p>
    </form>
    <form th:action="'/course/'+${courseId}+'/post/'+${postId}+'/remove/post'" method="post">
        <button class="btn btn-warning" type="submit">Delete</button>
    </form>

</div>

<div   class="container-fluid text-center">
    <div class="row border rounded m-3 p-3">
        <th:block th:each="doc: ${docs}">
            <div class="col">
                <div>
                    <img th:src="@{/css/file2.png}" width="100"/>
                </div>
                <div>
                    [[${doc.name}]]
                </div>
                <form th:action="'/course/'+${courseId}+'/post/'+${postId} +'/remove/doc/'+${doc.id}" method="post">
                    <button class="btn btn-secondary"   type="submit">Delete</button>
                </form>
            </div>
        </th:block>
    </div>
</div>


<div
        th:insert="footer :: footer">
</div>
</body>
</html>