<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">SmartCourse</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" th:href="${create}">Create course</a>
            <a class="p-2 text-dark" href="/">About</a>
            <a class="p-2 text-dark" href="/smartCourse">Main</a>
        </nav>
    </div>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
        </div>
    </header>
</div>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1></h1>
            <p th:text="${greeting}" />
            <p>
                <a href="/pomodoro" class="btn btn-primary my-2">Pomodoro</a>
                <a href="#" class="btn btn-secondary my-2">MyCourses</a>
            </p>
        </div>
    </section>
    <div class="bg-dark shadow-sm align-items-center">
        <div class="container align-items-center">
                <strong class="text-white">Check your toDoList:</strong>
                <div th:each="notDoneToDoItemElement : ${notDoneToDoItems}" class="form-check-text-align-center">
                    <li><a align-items-center>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <h class="form-check-label text-white " for="flexCheckDefault"
                           th:text="${notDoneToDoItemElement.title}"
                        />
                    </a></li>

                </div>

                <div th:each="doneToDoItemElement : ${doneToDoItems}" class="form-check-text-align-center">
                    <li><a align-items-center>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <h class="form-check-label text-white" for="flexCheckChecked"
                           th:text="${doneToDoItemElement.title}"
                    />
                    </a></li>
                </div>
        </div>
    </div>



</main>
<div
        th:insert="footer :: footer">
</div>
</body>
</html>